.page_wrapper {
  border-bottom: 1px solid #ccc;
  background: url('/img/backgrounds/left_column.gif') repeat-y;
/*  overflow: hidden; */
/*  _height: 1%; IE6 hack */
}
.yellow .page_left {
/*  background: url('/img/backgrounds/left_column_yellow.gif') repeat-y; */
}
.blue .page_bottom {
  background: url('/img/backgrounds/left_column_blue.gif') repeat-y;
}

.page_left {
  float: left;
  width: 275px;
/*  border-right: 2px solid #ccc; */
/*  overflow: hidden; */
}

.page_image {
  text-align: center;
  margin: 0px;
  padding: 0px 10px 10px 10px;
/*  border-bottom: 2px solid #ccc; */
}
.page_caption {
  text-align: right;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  color: #666;
  font-style: italic;
  font-size: 80%;
}

.page_right {
  float: right;
  width: 450px;
}

.page_right p {
  font-size: 90%;
  margin-top: 1.0em;
}


.page_top {
  padding: 1.5em 2em 1.5em 2em;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.page_top h2 {
  color: #c74a1a;
  font-size: 140%;
  text-transform: uppercase;
  padding: 0em;
  margin: 0em;
}
.page_top h3 {
  color: #c74a1a;
  font-size: 110%;
  padding: 0em;
  margin: 0.7em 0em 0.5em 0em;
}

.page_top p {
  font-size: 90%;
  line-height: 2.0em;
  margin-top: 1.0em;
}

.page_bottom {
}

.page_links, .page_menu {
  padding: 1.5em 2em 1.5em 2em;
}

.with_border {
  border-top: #CCC dashed 2px;
}

.page_links ul, .page_menu ul {
  padding: 0em;
  margin: 0em;
}

.page_links li, .page_menu li {
  color: #333;
  list-style: none;
  font-size: 90%;
  line-height: 1.7em;
  margin: 0em;
  padding-bottom: 0.5em;
  padding-left: 0px;
/*  background: url('/img/bullets/marketplace_bullet.gif') no-repeat 0px 4px; */
}
.yellow .page_links li {
  color: #3c978e;
/*  background: url('/img/bullets/teal_on_yellow_bullet.gif') no-repeat 0px 4px; */
}
.page_menu li {
  color: #333;
/*  background: url('/img/bullets/marketplace_bullet.gif') no-repeat 0px 4px; */
}
.yellow .page_menu li {
  color: #333;
/*  background: url('/img/bullets/grey_on_yellow_bullet.gif') no-repeat 0px 4px; */
}
.blue .page_links li {
  color: #3b3b77;
  background: url('/img/bullets/blue_on_blue_bullet.gif') no-repeat 0px 4px; 
}
.page_links li a {
  color: #3c978e;
  text-decoration: none;
  font-size: 90%;
}
.blue .page_links li a {
  color: #3b3b77;
  text-decoration: none;
}
.page_menu li a {
  color: #333;
  text-decoration: none;
}
.page_links li a:hover, .page_menu li a:hover {
  text-decoration: underline;
}



.data_row {
  font-size: 90%;
  width: 100%;
  padding: 0.5em 0em 0.5em 0em;
  clear: both;
  background: #f4f4f4;
  overflow: hidden;
  _height: 1%;
}

.data_row_alt {
  font-size: 90%;
  width: 100%;
  padding: 0.5em 0em 0.5em 0em;
  clear: both;
  background: #fff;
  overflow: hidden;
  _height: 1%;
}

.left_header {
  font-weight: bold;
  width: 25%;
  float: left;
}

.right_data {
  width: 75%;
  float: right;
}

.contact_info {
  font-size: 90%;
  margin-top: 1.0em;
  padding-left: 4em;
}


/* page1 styles */

/* page2 styles */
.page2 {
}

.page2 .page_bottom {
/*  height: 38em; */
}
.page2 .page_left {
/*  position: absolute; */
  top: 0px;
  left: 0px;
  width: 250px;
/*  height: 38em; */
/*  border-right: 2px solid #ccc; */
/*  overflow: auto; */
}

.page2 .page_right {
/*  position: absolute; */
  top: 0px;
  right: 0px;
  margin: 0em;
  padding: 10px;
  width: 450px;
/*  height: 38em; */
/*  overflow: auto; */
}
.page2 .page_right .spacer {
  display: block;
  width: 400px;
/*  height: 20em; */
}

.page2 .page_item {
/*  position: relative; */
  top: 0px;
  left: 0px;
  padding: 0em;
  margin: 0em 0em 1.5em 0em;
  min-height: 90px;
  clear: both;
}
.page2 .page_item h4 {
  color: #c74a1a;
  font-weight: bold;
  text-transform: uppercase;
}
.page2 .page_item h5 {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}
.page2 .page_item h4 a, .page2 .page_item h5 a {
  color: #46438b;
  text-decoration: none;
}

.page2 .page_item {
  margin-right: 1em;
}



.page2 .page_item_w_image {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0em 0em 0em 100px;
  margin: 0em 0em 1.5em 0em;
  min-height: 90px;
}
.page2 .page_item_w_image img {
  position: absolute;
  top: 3px;
  left: 3px;
}
.page2 .page_item_w_image h4 {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.page2 .page_item_w_image h5 {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
}
.page2 .page_item_w_image h4 a, .page2 .page_item_w_image h5 a {
  color: #333;
  text-decoration: none;
}

/* news pages */
div.news_item, .news_item_inactive {
  border-bottom: dashed gray 1px; 
  padding-top: 0.5em; 
  padding-bottom: 1em; 
  margin-left: 1em; 
  margin-right: 1em;
  _height: 1%;
  overflow: hidden;
}
img.news_item {
  margin: 0.5em 1em 1em 0em;
}

.news_item_inactive {
  background: #ddd;
  padding: 0.2em;
}

div.news_item h4, .news_item_inactive h4  {
  color: #46438b;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.7em
}

ul.item_links {
  margin: 0.5em 0em 0em 0em;
  padding: 0em;
  list-style: none;
  font-size: 90%;
}

ul.item_links li {
  padding-left: 1.5em;
}

/* jobs pages */
h4.job_location {
  color: #46438b;
  font-weight: bold;
  font-size: 90%;
  text-transform: capitalize;
  border-bottom: 1px dashed #CCC;
  padding: 0.2em 0em;
  margin: 0.5em 0em 0.5em 0em;
}
h4.job_location a {
  color: #46438b;
  text-decoration: none;
}

.job_item {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0em;
  margin: 0em 0em 0.5em 2.0em;
}

.job_item h4 a {
  color: #46438b;
}

.job_item h5, .job_item h5 a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.job_item h5 a {
  text-decoration: none;
}
.job_item h5 a:hover {
  text-decoration: underline;
}

/* products/publications */
.product_image {
  width: 85px;
  float: left;
  margin: 0px;
  padding: 1em 0em;
}
.product_text {
  width: 320px;
  float: right;
  margin: 0px;
  padding: 1em 0em;
}
.product_text p {
  margin: 0px;
  padding: 0px;
}
.stock_list span {
  font-size: 90%;
}
.stock_list ul, .stock_list p {
  margin: 0px;
  padding: 0px;
}
.stock_list li {
  display: block;
  margin: 0.5em 0em 0em 0em;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  background: url('/img/backgrounds/dottedline.png') repeat-x 0% 100%;
}
.stock_list .stock_title {
  font-weight: bold;
}
.stock_list .stock_description {
}
.stock_list .stock_code {
  float: left;
  background: #FFF;
  padding-right: 0.5em;
}

.stock_list .price {
  float: right;
  background: #FFF;
  padding-left: 0.5em;
}