/* project list/search page */
#project_list h2 {
  background: url("/img/titles/projects.jpg") no-repeat;
  overflow: hidden;
  text-indent: -999em;
}

#project_list form {
  width: 95%;
}
#project_list fieldset {
  margin: 0em;
  padding: 0.5em;
}
#project_list form div {
  margin-bottom: 0.25em;
  padding: .2em;
}
#project_list .input_locale {
  float: left;
}
#project_list input#ProjectCity {
  width: 12em;
}
#project_list input#ProjectName {
  width: 20em;
}
#project_list input#ProjectClient {
  width: 20em;
}

#project_list .submit {
  margin: 1.0em 0em 0em 0em;
  padding: 0em;
}
#project_list .submit input {
  width: 6em;
}

#project_list table tr.altrow td {
  background: #F2E5D4;
}

/* project detail pages */
.project {
  background: url('/img/backgrounds/left_column.gif') repeat-y; 
  overflow: hidden;
}

#project_top {
  border-bottom: 2px solid #ccc;
  padding: 2em 2em 2em 2em;
  background: #fff;
}
#project_top h2, #project_top h3 {
  margin: 0em;
  padding: 0em;
  color: #464385;
}
#project_top h2 {
  font-size: 140%;
}
#project_top h3 {
  font-size: 110%;
  font-style: italic;
}
#project_bottom {
  position: relative;
  top: 0px;
  left: 0px;
  _height: 1%;
  overflow: hidden;
}
#project_left {
  float: left;
  width: 290px;
  overflow: hidden;
}
#project_left_upper, #project_left_lower {
  padding-left: 2em;
  padding-right: 2em;
}
#project_left_upper {
  padding-top: 2.0em;
  padding-bottom: 2em;
  border-bottom: 2px solid #ccc;
}
#project_left_upper p {
  font-size: 90%;
  line-height: 2.0em;
  padding-bottom: 0.5em;
}
#project_left_upper ul, #project_left_lower ul {
  padding: 0em;
  margin: 0em;
}
#project_left_upper li, #project_left_lower li {
  list-style: none;
  font-size: 90%;
  line-height: 1.7em;
  margin: 0em;
  padding-bottom: 0.5em;
  padding-left: 20px;
  background: url('/img/bullets/marketplace_bullet.gif') no-repeat 0px 4px;
}
#project_left_lower {
  padding-top: 2em;
  padding-bottom: 2em;
}
#project_left_lower h3 {
  margin: 0em 0em 1em 0em;
  padding: 0.2em 0em;
  color: #3F948F;
  font-weight: bold;
  font-size: 90%;
  border-bottom: 1px dashed #CCC;
}

#project_right {
  margin: 0em;
  padding: 0em;
  float: right;
  width: 455px;
  padding: 10px;
}
#project_main_image {
  border: 2px solid #ccc;
  margin-bottom: 15px;
}
#project_main_image img {
  margin-right: 10px;
  padding: 0px;
  border: none;
}

#project_image_list { 
  float: left;
  width: 280px;
}

.image_thumb_list {
  float: left;
  list-style: none;
  margin: 1em 0em 1em 0em;
  padding: 0px;
}

.image_thumb_list ul {
  display:inline;
  float: left;
  list-style: none;
}
.image_thumb_list li {
  float: left;
  list-style: none;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}

.image_thumb_list img {


}


.image_thumb_list li:first-child {
  float: left;
  list-style: none;
  margin: 0px 0px 0px 0px;
}
#first_image {
  margin: 0px 0px 0px 0px;
}

.project_image_on {
  padding: 0px 0px 0px 0px;

  /*
  border: 2px solid #ccc;
  width: 76px;
  height: 76px;
  */
}
.project_image_off {
  padding: 0px 0px 0px 0px;

  /*
  border: 2px solid #fff;
  width: 76px;
  height: 76px;
  */
}

#project_info {
  width: 165px;
  float: right;
  text-align: right;
  font-style: italic;
  color: #333;
  font-size: 80%;
  margin-top: 10px;
}

/*
 * Styles for Google Map element
 */
.google_map_project {
  overflow: hidden;
}
.google_map_project > div {
  float: left;
  margin-right:10px;
}
.google_map_project h2 {
  font-size: 1.2em;
  margin:0em;
  padding:0em;
}
.google_map_project p {
  margin:0.5em 0em 0em 0em;
  padding:0em
}
