@charset "UTF-8";
/* CSS Document */

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #666666;
	background-color: #FFFFFF;
	font-variant: normal;
	text-transform: lowercase;
	text-autospace: 5;
	text-decoration: none;
	list-style-image: none;
}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #666666;
}
a:active {
	text-decoration: none;
}
-->
</style>
</head>
</td>
</tr>

   <tr bordercolor="#CC9933">
    <td colspan="8"><img src="../mm_spacer.gif" alt="" width="1" height="2" border="0" /></td>
  </tr>

   <tr>
    <td colspan="8" bgcolor="#CC9933"><img src="../mm_spacer.gif" alt="" width="1" height="1" border="0" /></td>
  </tr>

<tr>
  <td colspan="8">&nbsp;<br />
  &nbsp;<br />	</td>
</tr>
  <tr>
    <td width="260" height="370" valign="top" bordercolor="#000000" bgcolor="#000000" class="style8"><ul id="MenuBar1" class="MenuBarVertical">
      <li><a href="/home.html">home</a>          </li>
      <li><a href="../performancefilm.html" class="style10 style16">performance &amp; film</a></li>
      <li><a href="../politics2.html">politics</a></li>
      <li><a href="../science.html">science</a> </li>
      <li><a href="../painting.html">painting</a></li>
      <li><a href="/collaborators.contacts.html">collaborators</a>      </li>
      <li><a href="../cv.html">c.v.</a></li>
      <li class="MenuBarVertical"><a href="../contacts.html">contact</a></li>
    </ul>    </td>
    <td colspan="2" valign="top">
    
</html>