@charset "UTF-8";
* {
	margin:0;
	padding:0;
}


#firstwrap {
	padding:0;
	width: 100%;
	clip: rect(auto,auto,auto,auto);
	margin-top: 4mm;
	margin-right: auto;
	margin-left: auto;
	min-height: 750px;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	background-position: bottom;
}

#firstwrap #wrapper {
	width: 815px;
	margin-right: auto;
	margin-left: auto;
	border: 0px none #FFFFFF;
	padding: 0px;
	margin-top: 0mm;
	background-color: #FFFFFF;
}

#firstwrap #wrapper #logo {
	height: 162px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
#firstwrap #bodyArea {
	background-color: #FFFFFF;
}
#firstwrap #wrapper #headerImg {
	height: 50px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FFFFFF;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#firstwrap #wrapper #navigation {
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0.4em;
	width: 715px;
	clip: rect(auto,auto,auto,auto);
	word-spacing: normal;
	text-align: center;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	font-size: 10px;
	margin: auto;
	border: 0px;
	background-image: url(../images_/icons/navigationbar.jpg);
	height: 45px;
	padding-top: 25px;
	padding-right: 8;
	padding-bottom: 5px;
	padding-left: 0;
	background-repeat: no-repeat;
	background-position: center;

}
#firstwrap #wrapper #navigation ul {
	list-style-type: none;
	list-style-position: outside;
	display: inline;
}
#firstwrap #wrapper #navigation ul li {
	display: inline;
	padding: 0 5px 0 5px;
	border-right: 1px dotted #736562;
}
#firstwrap #wrapper #navigation ul li a {
	text-decoration: none ;
	color: #736562 ;
}
#firstwrap #wrapper #navigation ul li a:hover {
	color: white;
	background-color: #999966;
}
#firstwrap  #wrapper  #bodyArea  #left  #contentVideo iframe {
	display: inline;
}
#firstwrap #wrapper #bodyArea #left {
	height: 500px;
	width: 750px;
	background-color: #FFFFFF;
	border: 0px none #FFFFFF;
	padding: 30px;
	background-image: url(../images_/icons/mainbodyimage.jpg);
	background-repeat: no-repeat;
	background-position: top;
	float: none;
}
.contentVideo2 {
}
.pics {
	margin-left: 35px;
}
.space {
	height: 40px;
	width: 405px;
	float: left;
	border: 0px;
}
#youtube_vid {
	margin: 10px;
	width: 405px;
}